.add-btn{
    -fx-background-color: #FF0000;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor:hand;
}

.add-btn:hover{
    -fx-background-color: #fa4d4d;
}
