.status-accepted {
    -fx-text-fill: green;
}

.status-pending {
    -fx-text-fill: orange;
}

.status-cancelled {
    -fx-text-fill: red;
}
.equipement_cell_container{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #c7c4c4;
    /*-fx-background-radius: 10;
    -fx-alignment: CENTER-LEFT;
    -fx-effect: dropshadow(three-pass-box,#DDDDDD,5,0,0,7);*/

}